<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Create new View Modifier.</string>
	<key>Summary</key>
	<string>Create new View Modifier</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>ViewModifier</string>
	<key>MainTemplateFile</key>
	<string>___VARIABLE_productName___.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Name:</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>ViewExtension</string>
			<key>Name</key>
			<string>Add view extension</string>
			<key>Description</key>
			<string>Generate view extension</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<false/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>DebugOnly</string>
			<key>Name</key>
			<string>Active only in Debug</string>
			<key>Description</key>
			<string>DEBUG only view modifier</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
